<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farees Hussain</title>
    <link rel="stylesheet" href="./css/style.css" type="text/css">
    <script src="./js/index.js"></script>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p class="about">This site was created by Farees Hussain. Made with mapbox.com and openweather api</p><hr>
        <img src="https://avatars1.githubusercontent.com/u/54740946?s=460&v=4" alt="twitter"> 
    </div>
    {{>footer}}
</body>
</html>
